[Desktop Entry]
Version=1.0
NoDisplay=true
Type=Application
Name=Quake 2
Exec=/usr/games/quake2
Comment=Classic first person shooter
Icon=/usr/share/icons/hicolor/256x256/apps/quake2.png
Actions=
Categories=ActionGame;Game;
Keywords=first person shooter;fps;3d;deathmatch;quake 2;
