[Desktop Entry]
Version=1.0
NoDisplay=true
Type=Application
Name=Quake
Exec=/usr/games/quake
Comment=Classic first person shooter
Icon=/usr/share/icons/hicolor/256x256/apps/quake.png
Actions=
Categories=ActionGame;Game;
Keywords=first person shooter;fps;3d;deathmatch;quake 1;
